.app {
    padding: 60px !important;
}
@font-face{
    font-family: 'myFont';
    src: url('fonts/lale.woff') format('woff');
}
.crossed {
    text-decoration: line-through;
}

.button-small {
    font-size: 1.2rem;
    height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 1.7rem;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}

.button-red {
    border-color: red !important;
    color: red !important;
}

.statistics span {
    margin-right: 10px;
    width: 150px;
    display: inline-block;
    font-family: 'myFont';
    font-size: 18px;
}

h1{
    font-family: 'myFont';
    color:#707070;
    vertical-align: middle;
    text-align: center;
    
}
h1:hover{
    color:#000000;
    cursor: pointer;
}
#player{
    font-family: 'myFont';
    font-size: 20px;
    color:#000000;
    vertical-align: middle;
}
.labels{
    font-family: 'myFont';
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}
.labelsr{
    font-family: 'myFont';
    font-size: 20px;
}
.labelsr:hover{
    font-family: 'myFont';
    font-size: 20px;
    color:#707070;
    cursor: pointer;
}
.buttons{
    font-family: 'myFont';
    font-size: 15px;
}
#role{
    font-family: 'myFont';
    font-size: 15px;
}